[Unit]
Description=JDownloader
Documentation=http://jdownloader.org/knowledge/wiki/start
AssertPathIsDirectory=/opt/Jdownloader2
Requires= (if needed)
BindsTo=(if needed)
After=(if needed)


[Service]
PIDFile=/opt/Jdownloader2/JDownloader.pid
ExecStart=/usr/bin/java -Djava.awt.headless=true -jar /opt/Jdownloader2/JDownloader.jar > /dev/null 2>&1
ExecStop=/bin/kill -TERM $MAINPID
TimeoutStopSec=30
SuccessExitStatus=143
Restart=on-abort
User=(if needed)

[Install]
WantedBy=default.target
